<div class="weui-grids">
  <a class="weui-grid" [routerLink]="['/tool/logon']">
    <div class="weui-grid__icon">
      <img src="./assets/img/icon_tabbar.png" alt="">
    </div>
    <p class="weui-grid__label">工具登录</p>
  </a>
  <a class="weui-grid" [routerLink]="['/tool/logoff']">
    <div class="weui-grid__icon">
      <img src="./assets/img/icon_tabbar.png" alt="">
    </div>
    <p class="weui-grid__label">工具登出</p>
  </a>
  <a class="weui-grid" [routerLink]="['/tool/reset']">
    <div class="weui-grid__icon">
      <img src="./assets/img/icon_tabbar.png" alt="">
    </div>
    <p class="weui-grid__label">重置</p>
  </a>
</div>
