.reset {
  margin-bottom: 10px;
  margin-top: 15px;
  float: right;
  margin-right: 10px;
}

.badge-input {
  margin-bottom: 10px;
  margin-top: 15px;
  float: left;
  margin-left: 10px;
  width: 200px;
}

.badge-button {
  margin-bottom: 10px;
  margin-top: 15px;
  float: left;
  margin-right: 10px;
}
