<div class="weui-cells" [ngStyle]="{'max-height': '200px'}">
  <ng-container *ngIf='(operations$ | async) as operations'>
    <div class="weui-cell weui-cell_access" *ngFor='let operation of operations'>
      <div class="weui-panel__bd" (click)='click(operation)'>
        <div class="weui-media-box weui-media-box_text">
          <h4 class="weui-media-box__title">{{getDisplay(operation).title}}</h4>
          <p class="weui-media-box__desc">{{getDisplay(operation).description}}</p>
        </div>
      </div>
    </div>

    <!-- <div class="weui-cell weui-cell_access" *ngFor='let operation of operations' (click)='click(operation)'>
      <div class="weui-cell__bd">
        <span>{{getDisplay(operation)}}</span>
      </div>
    </div> -->
  </ng-container>
</div>
