/* You can add global styles to this file, and also import other style files */
@card-padding-base: 8px;
@mobile-min: 801px;
@mobile-max: 800px;
@nz-table-rep-max-width: 400px;
// @nz-table-rep-padding-horizontal: 4px;
// @font-size-base: 7px;
