/* You can add global styles to this file, and also import other style files */
@card-padding-base: 8px;
@mobile-min: 801px;
@mobile-max: 800px;
@nz-table-rep-max-width: 400px;

// @nz-table-rep-padding-horizontal: 4px;
// @font-size-base: 7px;
.mobile-layout {
  display: flex;
}

.mobile-layout {
  section {
    display: flex;
  }

  form {
    display: flex;
  }

  .weui-cells {
    display: flex;
    flex-direction: column;
  }

  .weui-popup {
    .weui-cells {
      margin-top: 0px;
      display: block;
      overflow-y: auto;
    }
  }

  .weui-cell_select {
    .weui-select {
      padding-right: 0px;
    }

    padding: 10px 15px;
  }

  .weui-select {
    padding-left: 0px;
    font-size: 12px;
    height: 35px;
  }

  .weui-cell {
    padding: 5px 10px;
    font-size: 14px;
  }

  .weui-cell_board {
    font-size: 14px;
    padding: 10px 15px;
  }

  .weui-agree {
    padding: 0 5px;
    font-size: 12px;
  }

  .weui-label {
    width: 70px;
  }

  .centered {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
