<form autocomplete="off" [formGroup]="form">
  <div class="weui-cells">
    <div class="weui-cell">
      <div class="weui-cell__hd">
        <label class="weui-label">{{'app.mobile.setup.printer.selected' | translate}}</label>
      </div>
      <div class="weui-cell__bd">
        <input class="weui-input" id='printerSelected' formControlName="printerSelected" fwShareAutoFocus
          [fwShareKeyHandler]='{controlName: "printerSelected", inputing: Inputing, req: request(requestPrinterSelectedData, requestPrinterSelectedDataSuccess, requestPrinterSelectedDataFailed)}'>
      </div>
    </div>
    <div class="weui-cell weui-cell_access">
      <div class="weui-panel__bd" (click)="showPrinterList()">
        <div class="weui-media-box weui-media-box_text">
          <h4 class="weui-media-box__title">{{selected}}</h4>
        </div>
      </div>
      <div class="weui-cell__ft"></div>
    </div>
    <div class="mobile-fill">
      <button weui-button [disabled]='isDisable()' #execute name="execute" id="execute"
        (click)='doAction(setupPrinter, setupPrinterSuccess, setupPrinterFailed)'>{{'app.mobile.setup.printer.action' | translate}}</button>
    </div>
  </div>
</form>
<weui-mask #mask [backdrop]="false"></weui-mask>
<weui-popup #printerList>
  <fw-mobile-printer-list [printers$]='printers$' (itemClicked)='printerSelected($event)'></fw-mobile-printer-list>
</weui-popup>