<div class="weui-grids">
  <a class="weui-grid" [routerLink]="['/material/create']">
    <div class="weui-grid__icon">
      <img src="./assets/img/icon_tabbar.png" alt="">
    </div>
    <p class="weui-grid__label">物料创建</p>
  </a>
  <a [routerLink]="['/material/split']" class="weui-grid">
    <div class="weui-grid__icon">
      <img src="./assets/img/icon_tabbar.png" alt="">
    </div>
    <p class="weui-grid__label">物料拆分</p>
  </a>
  <a [routerLink]="['/material/move']" class="weui-grid">
    <div class="weui-grid__icon">
      <img src="./assets/img/icon_tabbar.png" alt="">
    </div>
    <p class="weui-grid__label">物料移动</p>
  </a>
  <a [routerLink]="['/material/moveTo914']" class="weui-grid">
    <div class="weui-grid__icon">
      <img src="./assets/img/icon_tabbar.png" alt="">
    </div>
    <p class="weui-grid__label">入914</p>
  </a>
  <a [routerLink]="['/material/moveToSAP']" class="weui-grid">
    <div class="weui-grid__icon">
      <img src="./assets/img/icon_tabbar.png" alt="">
    </div>
    <p class="weui-grid__label">退SAP</p>
  </a>
  <a [routerLink]="['/material/adjustQty']" class="weui-grid">
    <div class="weui-grid__icon">
      <img src="./assets/img/icon_tabbar.png" alt="">
    </div>
    <p class="weui-grid__label">数量调整</p>
  </a>
  <a [routerLink]="['/material/find']" class="weui-grid">
    <div class="weui-grid__icon">
      <img src="./assets/img/icon_tabbar.png" alt="">
    </div>
    <p class="weui-grid__label">批次查找</p>
  </a>
  <a [routerLink]="['/material/reprint']" class="weui-grid">
    <div class="weui-grid__icon">
      <img src="./assets/img/icon_tabbar.png" alt="">
    </div>
    <p class="weui-grid__label">批次重打</p>
  </a>
</div>
