<form [formGroup]="form">
  <div class="weui-cells">
    <div class="weui-cell">
      <div class="weui-cell__hd">
        <label class="weui-label">{{'app.mobile.material.move.batch' | translate}}</label>
      </div>
      <div class="weui-cell__bd">
        <input class="weui-input" id='batch' formControlName="batch" fwShareAutoFocus [fwShareKeyHandler]='{controlName: "batch", inputing: Inputing, nextInputId: "materialBuffer", req: request(requestBatchData, requestBatchDataSuccess, requestBatchDataFailed)}'
          [placeholder]="'app.mobile.material.move.batch.placeholder' | translate">
      </div>
    </div>
    <label for="weuiAgree" class="weui-agree">
      <span class="weui-agree__text">
        {{getDescription('batch')}}
      </span>
    </label>
    <div class="weui-cell">
      <div class="weui-cell__hd">
        <label class="weui-label">{{'app.mobile.material.move.buffer' | translate}}</label>
      </div>
      <div class="weui-cell__bd">
        <input class="weui-input" id='materialBuffer' formControlName="materialBuffer" [fwShareKeyHandler]='{controlName: "materialBuffer", inputing: Inputing, nextInputId: "badge",req: request(requestMaterialBufferData, requestMaterialBufferDataSuccess, requestMaterialBufferDataFailed)}'
          [placeholder]="'app.mobile.material.move.buffer.placeholder' | translate">
      </div>
    </div>
    <label for="weuiAgree" class="weui-agree">
      <span class="weui-agree__text">
        {{getDescription('materialBuffer')}}
      </span>
    </label>
    <div class="weui-cell">
      <div class="weui-cell__hd">
        <label class="weui-label">{{'app.mobile.material.move.badge' | translate}}</label>
      </div>
      <div class="weui-cell__bd">
        <input class="weui-input" id="badge" type='password' formControlName="badge" [fwShareKeyHandler]='{controlName: "badge", inputing: Inputing, req: request(requestBadgeData, requestBadgeDataSuccess, requestBadgeDataFailed)}'
          [placeholder]="'app.mobile.material.move.badge.placeholder' | translate" weui-required>
      </div>
    </div>
    <label for="weuiAgree" class="weui-agree">
      <span class="weui-agree__text">
        {{getDescription('badge')}}
      </span>
    </label>
    <button weui-button [disabled]='isDisable()' #execute name="execute" id="execute" (click)='doAction(moveBatch, moveBatchSuccess, moveBatchFailed)'>{{'app.mobile.material.move.action'
      | translate}}</button>
    <button class='reset' weui-button weui-mini="mini" [weui-type]="'warn'" (click)="resetForm()">Reset</button>
  </div>
</form>
<weui-mask #mask [backdrop]="false"></weui-mask>
