<form [formGroup]="form">
  <div class="weui-cells">
    <div class="weui-cell">
      <div class="weui-cell__hd">
        <label class="weui-label">{{'app.mobile.material.split.batch' | translate}}</label>
      </div>
      <div class="weui-cell__bd">
        <input class="weui-input" id='batch' formControlName="batch" fwShareAutoFocus [fwShareKeyHandler]='{controlName: "batch", inputing: Inputing, nextInputId: "numberOfSplits", req: request(requestBatchData, requestBatchDataSuccess, requestBatchDataFailed)}'
          [placeholder]="'app.mobile.material.split.batch.placeholder' | translate">
      </div>
    </div>
    <label for="weuiAgree" class="weui-agree">
      <span class="weui-agree__text">
        {{getDescription('batch')}}
      </span>
    </label>
    <div class="weui-cell">
      <div class="weui-cell__hd">
        <label class="weui-label">{{'app.mobile.material.split.numberOfSplits' | translate}}</label>
      </div>
      <div class="weui-cell__bd">
        <input class="weui-input" id='numberOfSplits' formControlName="numberOfSplits" [fwShareKeyHandler]='{controlName: "numberOfSplits", inputing: Inputing, nextInputId: "badge", req: request(requestNumberOfSplitsData, requestNumberOfSplitsDataSuccess, requestNumberOfSplitsDataFailed)}'
          [placeholder]="'app.mobile.material.split.numberOfSplits.placeholder' | translate">
      </div>
    </div>
    <label for="weuiAgree" class="weui-agree">
      <span class="weui-agree__text">
        {{getDescription('numberOfSplits')}}
      </span>
    </label>
    <button weui-button [disabled]='isDisable()' #execute name="execute" id="execute" (click)='doAction(splitBatch, splitBatchSuccess, splitBatchFailed)'>{{'app.mobile.material.split.action'
      | translate}}</button>
    <fw-mobile-bottom [showBadgeButton]='showBadgeButton' [badgeButtonText]='badgeButtonText' [keyHandler]='{controlName: "badge", allowEmpty: true, inputing: Inputing, req: request(requestBadgeData, requestBadgeDataSuccess, requestBadgeDataFailed)}'
      [buttonType]='getBadgeButtonType()' (resetClicked)='resetForm()' (operatorSetupClicked)='setupOperator()'></fw-mobile-bottom>
  </div>
</form>
<weui-mask #mask [backdrop]="false"></weui-mask>
