<form autocomplete="off" [formGroup]="form">
  <div class="weui-cells">
    <div class="weui-cell">
      <div class="weui-cell__hd">
        <label class="weui-label">{{'app.mobile.operation.logon.machine' | translate}}</label>
      </div>
      <div class="weui-cell__bd">
        <input class="weui-input" id='machine' formControlName="machine" fwShareAutoFocus [fwShareKeyHandler]='{controlName: "machine", inputing: Inputing, nextInputId: "batch", req: request(requestMachineData, requestMachineDataSuccess, requestMachineDataFailed)}'
          [placeholder]="'app.mobile.operation.logon.machine.placeholder' | translate">
      </div>
    </div>
    <label for="weuiAgree" class="weui-agree">
      <span class="weui-agree__text">
        {{getAssociateDataDisplay('machine')}}
      </span>
    </label>
    <ng-container *ngIf='getCurrentOperationDisplay() as display'>
      <div class="weui-cell weui-cell_access">
        <div class="weui-panel__bd" (click)="showOperationList('', 'operationList.op.input')">
          <div class="weui-media-box weui-media-box_text">
            <h4 class="weui-media-box__title">{{display.title}}</h4>
            <p class="weui-media-box__desc">{{display.description}}</p>
          </div>
        </div>
        <div class="weui-cell__ft"></div>
      </div>
    </ng-container>
    <ng-container *ngIf='getOperationComponentStatusDisplay((componentStatus$ | async)) as display'>
      <div class="weui-cell weui-cell_board weui-cell_access" (click)='showComponentStatus()'>
        <div class="weui-cell__bd ">
          <span>{{'app.common.component.require' | translate}}: {{display.total}}, {{'app.common.miss' |
            translate}}: <span [ngStyle]="getStyle(display.missed)">{{display.missed}}</span></span>
        </div>
        <div class="weui-cell__ft"></div>
      </div>
    </ng-container>
    <ng-container *ngIf='getOperationToolStatusDisplay((toolStatus$ | async)) as display'>
      <div class="weui-cell weui-cell_board weui-cell_access" (click)='showToolStatus()'>
        <div class="weui-cell__bd">
          <span>{{'app.common.tool.require' | translate}}: {{display.total}}, {{'app.common.miss' |
            translate}}: <span [ngStyle]="getStyle(display.missed)">{{display.missed}}</span></span>
        </div>
        <div class="weui-cell__ft"></div>
      </div>
    </ng-container>
    <div class="mobile-fill">
      <button weui-button [disabled]='isDisable()' #execute name="execute" id="execute" (click)='doAction(logonOperation, logonOperationSuccess, logonOperationFailed)'>{{'app.mobile.operation.logon.action'
        | translate}}</button>
    </div>
    <fw-mobile-bottom [showBadgeButton]='showBadgeButton' [badgeButtonText]='badgeButtonText' [keyHandler]='{controlName: "badge", allowEmpty: true, inputing: Inputing, req: request(requestBadgeData, requestBadgeDataSuccess, requestBadgeDataFailed)}'
      [buttonType]='getBadgeButtonType()' (resetClicked)='resetForm()' (operatorSetupClicked)='setupOperator()'></fw-mobile-bottom>
  </div>
</form>
<weui-mask #mask [backdrop]="false"></weui-mask>
<weui-popup #componentStatus>
  <fw-mobile-component-status [componentStatus$]='componentStatus$'></fw-mobile-component-status>
</weui-popup>
<weui-popup #toolStatus>
  <fw-mobile-tool-status [toolStatus$]='toolStatus$'></fw-mobile-tool-status>
</weui-popup>
<weui-popup #operationList>
  <fw-mobile-operation-list [operations$]='operations$' (itemClicked)='operationSelected($event)'></fw-mobile-operation-list>
</weui-popup>
