<div class="weui-grids">
  <a class="weui-grid" [routerLink]="['/material/logon']">
    <div class="weui-grid__icon">
      <img src="./assets/img/icon_tabbar.png" alt="">
    </div>
    <p class="weui-grid__label">物料登录</p>
  </a>
  <a [routerLink]="['/material/logoff']" class="weui-grid">
    <div class="weui-grid__icon">
      <img src="./assets/img/icon_tabbar.png" alt="">
    </div>
    <p class="weui-grid__label">物料登出</p>
  </a>
  <a [routerLink]="['/material/replenish']" class="weui-grid">
    <div class="weui-grid__icon">
      <img src="./assets/img/icon_tabbar.png" alt="">
    </div>
    <p class="weui-grid__label">补料</p>
  </a>
  <a [routerLink]="['/material/combine']" class="weui-grid">
    <div class="weui-grid__icon">
      <img src="./assets/img/icon_tabbar.png" alt="">
    </div>
    <p class="weui-grid__label">合并输出</p>
  </a>
  <a [routerLink]="['/operation/logon']" class="weui-grid">
    <div class="weui-grid__icon">
      <img src="./assets/img/icon_tabbar.png" alt="">
    </div>
    <p class="weui-grid__label">工单登录</p>
  </a>
  <a [routerLink]="['/operation/logoff']" class="weui-grid">
    <div class="weui-grid__icon">
      <img src="./assets/img/icon_tabbar.png" alt="">
    </div>
    <p class="weui-grid__label">工单登出</p>
  </a>
  <a [routerLink]="['/operation/interrupt']" class="weui-grid">
    <div class="weui-grid__icon">
      <img src="./assets/img/icon_tabbar.png" alt="">
    </div>
    <p class="weui-grid__label">工单中断</p>
  </a>
  <a [routerLink]="['/operation/generateOutputBatch']" class="weui-grid">
    <div class="weui-grid__icon">
      <img src="./assets/img/icon_tabbar.png" alt="">
    </div>
    <p class="weui-grid__label">批次输出</p>
  </a>
  <a [routerLink]="['/operation/packing']" class="weui-grid">
    <div class="weui-grid__icon">
      <img src="./assets/img/icon_tabbar.png" alt="">
    </div>
    <p class="weui-grid__label">包装</p>
  </a>
</div>
